.avecCybermatchVous,
.blankLine,
.vousTesUn {
  margin: 0;
}
.vousTesUnContainer {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
}
.frameChild {
  height: 51.1px;
  width: 262.5px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-tomato);
  display: none;
}
.devenirFreelance {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-23xl) var(--padding-2xs-1)
    var(--padding-24xl);
  background-color: var(--color-tomato);
  border-radius: var(--br-23xl);
  flex-direction: row;
  flex-shrink: 0;
  white-space: nowrap;
}
.rectangleParent:hover {
  background-color: var(--color-crimson);
}
.freelancerButton,
.freelancerDescription,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.freelancerButton {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.freelancerDescription {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xl);
  min-width: 356px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .vousTesUnContainer {
    font-size: var(--font-size-base);
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .freelancerDescription {
    min-width: 100%;
  }
}
